body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #201e1f;
  color: white;
  font-family: "Raleway", sans-serif;
}

nav {
  margin: 2rem;
}
.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.nav-links li a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.hero-section {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  text-align: center;
  padding: 6rem;
}
